<!-- D&D Chat Application -->
<div class="container bg-gray-50">
    <div class="grid h-full w-full grid-cols-5">
        <app-chat-sidebar
            [rooms]="rooms"
            [currentRoom]="currentRoom"
            [showCreateRoomForm]="showCreateRoomForm"
            [roomForm]="roomForm"
            [loading]="loading"
            [authService]="authService"
            (toggleCreateRoomForm)="toggleCreateRoomForm()"
            (createRoom)="createRoom()"
            (joinRoom)="joinRoom($event)"
            (onLogout)="onLogout()"
            class="col-span-1"
        ></app-chat-sidebar>
        <app-chat-main
            [currentRoom]="currentRoom"
            [messages]="messages"
            [loading]="loading"
            [authService]="authService"
            [messageForm]="messageForm"
            (sendMessage)="sendMessage()"
            (leaveRoom)="leaveRoom()"
            class="col-span-2"
        ></app-chat-main>
    </div>
</div>
