<div class="message-form-container my-2 ml-2">
    <app-command-menu
        *ngIf="showCommandMenu"
        [isVisible]="showCommandMenu"
        [commands]="commands"
        [filterText]="messageForm.get('content')?.value || ''"
        (commandSelected)="onCommandSelected($event)"
    ></app-command-menu>

    <form
        (ngSubmit)="sendMessage()"
        [formGroup]="messageForm"
        class="message-form"
    >
        <input
            #messageInput
            type="text"
            class="form-control"
            placeholder="Type a message... (type / for commands)"
            formControlName="content"
        />
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
</div>
